body {
font-size: 12px;
background-color: rgb(152, 239, 250);
}
.SUÍÇA {
    width: 300px;
    margin: 20px ;
    margin-left: 800px;
    padding: 15px;
    border-radius: 12px;
    border: 5px solid #ff0000;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 4px 4px 8px rgb(000, 000, 000);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #ff0000;
}
.SUÍÇA:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
.SUÉCIA {
    width: 300px;
    margin: 20px ;
    margin-left: 800px;
    padding: 15px;
    border-radius: 12px;
    border: 5px solid #1100ff;
    background-color: rgb(251, 255, 0);
    text-align: center;
    box-shadow: 4px 4px 8px rgb(000, 000, 000);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #1100ff;
}
.SUÉCIA:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.EUA {
    width: 300px;
    margin: 20px ;
    margin-left: 800px;
    padding: 15px;
    border-radius: 12px;
    border: 5px solid #ff0000;
    background-color: rgb(0, 4, 255);
    text-align: center;
    box-shadow:4px 4px 8px black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: white;
    margin-top: -350px; 
}
.EUA:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
h1 {
    font-size: 40px;
    font-style: italic;
    text-align: left;
    text-decoration: underline;
}

h2 {
    text-align: center;
   margin-top: -30px;
    font-size: 40px;
    font-style: italic;
    text-align: right;
    text-decoration: underline;

}
h4 a {
    font-size: 30px;
    text-decoration: none;
    font-style: italic;
    color: black;
    text-align: left;
}
#sui {
    width: 500px;
    margin-top: -600px;
    margin-bottom: 100px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgb(000, 000, 000);
}
#sue {
    width: 500px;
    margin-top: -300px;
    margin-bottom: 100px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgb(000, 000, 000);
}
#eua {
    width: 500px;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgb(000, 000, 000);
}
#continent {
    font-size: 25px;
    font-style: italic;
    color: blue;
}