body {
    font-size: 15px;
    background-color: beige;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(218, 16, 16);
    border-bottom: 4px solid rgb(218, 16, 16);
    border-top: 4px solid rgb(218, 16, 16);
}
#menu {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}
#nome {
    color: rgb(9, 39, 39);
    background-color: rgb(201, 201, 201);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
button {
    color: brown;
    font-style: italic;
    cursor: pointer;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(218, 16, 16);
}
ul {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(218, 16, 16);
}